extends layout

block content
  p profile id:
    = profile.id
  div(class="form-group")
    label(for="profile-name") Your name ;)
    div(class="input-group" id="profile")
      input(type="text" class="form-control col-md-3 col-sm-5" v-model="profileName" v-on:change="change" v-on:input="input")
      img(v-bind:src="statusImage")
  div(class="row mb-1")
    div(class="col-auto")
      button(type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#createroom") Create Room
  div(class="row")
    div(class="col-auto")
      button(type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#joinroom") Join Room
  // Create Room Modal
  div(class="modal fade" role="dialog" id="createroom" tab-index="-1" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title") Create new room
            = " ( ͡° ͜ʖ ͡°)"
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
        div(class="modal-body")
          div(class="form-group")
            label Number of movies per user
            div(class="input-group")
              input(type="number" id="create-room-minmovies" class="form-control" placeholder="Minimum" value="2")
              div(class="input-group-prepend")
                span(class="input-group-text") -
              input(type="number" id="create-room-maxmovies" class="form-control" placeholder="Maximum" value="4")
          div(class="form-check")
            input(type="checkbox" class="form-check-input" id="create-form-dropinvote" selected)
            label(class="form-check-label" for="create-form-dropinvote") Let dropins vote
          ul(class="list-group list-group-flush" id="createform-errors")
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary" id="createroom-create") Create
  // Join Room Modal
  div(class="modal fade" role="dialog" id="joinroom" tab-index="-1" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title") Join room 
            = " ( ͡ʘ ͜ʖ ͡ʘ)"
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
        div(class="modal-body")
          div(class="form-group")
            div(class="input-group")
              div(class="input-group-prepend")
                span(class="input-group-text")
                  = joinUrl
                input(type="text" class="form-control" id="join-room-id")
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary") Join
  script(src="/javascripts/index.js")