doctype html
html
  head
    title Imdb Tournament
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src="/jquery/jquery.min.js")
    script(src="bootstrap/js/bootstrap.min.js")
    block extrahead
  body
    div(class="container")
      a(href="/" class=""): h1 Imdb Tournament
      block content
