doctype html
html
  head
    title Imdb Tournament
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/includes/bootstrap/css/bootstrap.min.css')
    script(src="/includes/jquery/jquery.min.js")
    script(src="/includes/popper/popper.min.js")
    script(src="/includes/bootstrap/js/bootstrap.min.js")
    script(src="/includes/vue/vue.min.js")
    block extrahead
  body
    div(class="container")
      a(href="/" class=""): h1 Imdb Tournament
      block content
