extends layout 

block extrahead 
  script
    = "const roomId = '" + room.id + "'"
  script(src="/javascripts/lobby.js") 

block content 
  p Room ID:
    = room.id
  div(class="row")
    each user in room.users
      div(class="col-auto")
        span(class="badge badge-primary")= user
  if profile.id == room.owner
    button(type="button" class="btn btn-primary mb-3" id="starttournament") Start Tournament
  div(class="row mb-3")
    div(class="input-group col-3")
      input(type="text" id="addmovie-id" class="form-control")
      div(class="input-group-append")
        button(type="button" class="btn btn-outline-secondary" id="addmovie-button") Add movie
  h3 Movies
  ul(class="list-group col-3" id="movielist")