extends layout 

block extrahead 
  script
    = "const roomId = '" + room.id + "'"
  script(src="/javascripts/lobby.js") 

block content 
  p Room ID:
    = room.id
  if profile.id == room.owner
    button(type="button" class="btn btn-primary mb-3" id="starttournament") Start Tournament
  div(class="row mb-3")
    div(class=" col-auto dropdown")
      input(type="text" id="searchbox" class="form-control" data-toggle="dropdown" placeholder="Search...")
      div(class="dropdown-menu" aria-labelledby="searchbox" id="moviesearch-suggestions")
  h3 Movies
  div(class="row row-cols-3" id="moviegrid")