extends layout 

block extrahead 
  script
    = "const roomId = '" + room.id + "'"

block content 
  p Room ID:
    = room.id
  if profile.id == room.owner
    button(type="button" class="btn btn-primary mb-3" id="starttournament") Start Tournament
  div(class="row mb-3" id="moviesearch")
    div(class="col-auto dropdown")
      input(type="text" class="form-control" data-toggle="dropdown" placeholder="Search..." v-on:input="searchInput" v-model="searchQuery")
      div(class="dropdown-menu")
        div(class="dropdown-item" v-if="searching") ...
        div(class="dropdown-item" v-else v-for="result in results" v-bind:key="result.id" v-on:click="addMovie(result.id)")
          | {{ result.title }}
  h3 Movies
  div(class="row row-cols-md-3 row-cols-sm-12" id="moviegrid")
    div(class="col" v-for="user of users" v-bind:key="user.id")
      div(class="card mb-3")
        div(class="card-header") {{ user.name }}
          span(class="font-weight-bold" v-if="user.isYou")  (You)
          span(class="font-weight-bold" v-if="user.isRoomOwner")  (Host)
        ul(class="list-group")
          li(class="list-group-item" v-for="movie of user.movies" v-bind:key="movie.id")
            | {{ movie.title }}
            button(type="button" class="btn btn-danger float-right" v-on:click="removeMovie(movie.id)" v-if="user.isYou") &times;
  script(src="/javascripts/lobby.js") 