extends layout 

block extrahead 
  script
    = "const roomId = '" + room.id + "'"
  script(src="/javascripts/tournament.js") 

block content 
  p Tournament mode ;)
  if profile.id == room.owner
    button(type="button" class="btn btn-primary mb-3" id="backtolobby") GO BACK (╯°□°)╯︵ ┻━┻
  div(class="row")
    div(class="col-3")
      h3 Movies
      ul(class="list-group" id="movielist")
        each movie in room.tournament.movies
          li(class="list-group-item")
            span= movie.data.title
    div(class="col-auto")
      h3 Vote
        ul(class="list-group" id="votelist")
        button(type="button" class="btn btn-primary mt-3" id="sendvotes") Send votes