extends layout 

block extrahead 
  script
    = "const roomId = '" + room.id + "'"
  script(src="/javascripts/tournament.js") 

block content 
  p Tournament mode ;)
  if profile.id == room.owner
    button(type="button" class="btn btn-primary mb-3" id="backtolobby") GO BACK (╯°□°)╯︵ ┻━┻
  div(class="row")
    div(class="col-3")
      h3 Movies
      ul(class="list-group" id="movielist")
    div(class="col-auto")
      h3 Vote